@use "../../styles/partials/mixins" as *;

.login {

    &__content {
    margin-top: 60px;
    background-color: white;
    }

    &__title {
        text-align: center;
        padding-top: 1rem;
        
    }

    &__form {
        display: flex;
        flex-direction: column;
        padding: 1rem;
        max-width: 500px;
        margin: 0 auto;

        @include tablet {
            padding: 1rem 2.25rem;
           
        }
    }

    &__input {
        padding: 0.5rem;
        margin: 1rem 0;
        border-radius: 4px;
        border: none;
        background-color: rgb(243 244 246);
        box-shadow: 0 3px 3px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    }

    &__button {
        border: none;
        margin: 1rem 0;
        padding: .5rem;
        border-radius: 4px;
        box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
        background-color: #9900F0;
        color: white;
        font-weight:600;
        font-size: 16px;
    }
    &__button:hover {
        cursor: pointer;
        background-color: #4700D8;
    }

    &__spacer {
        width: 100%; 
        text-align: center; 
        border-bottom: 1px solid #9ca3af; 
        line-height: 0.1em;
        box-sizing: border-box;
        
    }
    &__footer {
        padding: 0 1rem;
        max-width: 500px;
        margin: 0 auto;
    }

    &__footer-span {
        background:#fff; 
        padding: 0 1rem;
        color: #9ca3af;
      
    }

    &__link {
        width: 50%;
        @include flex-middle;
        border: 1px solid #9900F0;
        padding: .5rem;
        box-sizing: border-box;
        border-radius: 4px;
        color: #9900F0;
        text-decoration: none;
        font-weight: 600;
        font-size: 16px;
        margin: 3.75rem auto;
        
    }

    &__link:hover {
        // background-color: #019267;
        border-color: #4700D8;
        color: #4700D8;
    }
}