@use "../../styles/partials/mixins" as *;

.post-content {
    width: 100%;
    box-sizing: border-box;
    padding: 1rem;

    @include x-small {
        padding-right: 10.5rem;
    }

    @include tablet {
        width: 100%;
        max-width: 1020px;
        padding-left: 10.5rem;
        margin: 0 auto;
    }
   
    @include desktop {
       
        
    }

    &__title {
        text-align: center;
    }
    
}