@use "../../styles/partials/mixins" as *;

.friendbar {
    margin: 1rem 2rem;
    display: none;
    

    @include x-small {
        @include flex-column;
        align-items: flex-start;
        position: fixed;
        top: 60px;
        right: 0;
    }

    @include tablet {
        top: 64px;
    }

    &__row {
        @include flex-middle;
        margin-bottom: 1rem;
        font-size: 13px;
        color: #6b7280;
    }

    &__text {
        display: none; 
        padding-left: 0.5rem;
        color: black;
        font-weight: 600;
        
        @include x-small {
            display: block;
        }
        
    }

    &__icon {
        width: 36px;
        height: 36px;
        border-radius: 50%;
        object-fit: cover;
    }

    &__title {
        color: #6b7280;
        display:none;
        font-size: 15px;
        margin-bottom: 1rem;

        @include x-small {
            display:block;
        }
    }

    &__link {
        @include flex-middle;
        text-decoration: none;
    }

}