@use "../../styles/partials/mixins" as *;

.profile {

    &__content {
        margin: 56px auto 0;
        max-width: 450px;
        padding: 1rem;

        @include tablet {
            margin-top: 60px;
        }  
    }
}