@use "../../styles/partials/mixins" as *;

.feed {
    margin-top: 56px;
    height: 100vh;

    @include tablet {
        margin-top: 62px;
    }

    &__title {
        text-align: center;
    }
   
}