@use "../../styles/partials/mixins" as *;

.feed {
    margin-top: 56px;
    
    @include tablet {
        margin-top: 62px;
    } 

    &__main {
        display: flex;
    }

    &__title {
        text-align: center;
    }
   
}