@use "../../styles/partials/mixins" as *;

.navbar {
    height: 60px;
    width: 100%;
    position: fixed; 
    top: 0; 
    right: 0;
    background-color: white;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    z-index: 2;

    @include tablet {
        height: 64px;
    }

    &__content {
        @include flex-space-center;

        @include desktop {
          
            flex-grow: 0;
            left:0;
        }
    }

    &__link {
        color: black;
        @include flex-center;
        color: rgb(107 114 128);
        
    }

   

    &__icon {
        width:24px !important;
        height:24px !important;
        
        padding: 1rem;

        @include tablet {
            width: 28px !important;
            height: 28px !important;  
        }

        &:hover {
            background-color: rgb(243 244 246);
            color: #9900F0;
        }
    }

    &__center {
        // display: none;  
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        @include flex-space;
        box-shadow: 0 -4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
        background-color: white;
        

        @include x-small {
            flex-grow: 1;
            margin: 0 10%; 
            position: static; 
            box-shadow: none;
        }

        @include tablet {
            margin: 0 20%;
            
        }
    }

    &__right {
        display: flex;
        justify-content: flex-end;
        @include x-small {
            width: 40%;    
        }
    }

    &__link--active {
        color: #9900F0;
    }

    &__user {
        display: none;

        @include tablet {
            display: block;
        }
    }

    &__left {

        @include x-small {
            width: 40%;    
        }
        
    }

    &__logo {
        display: flex;
        align-items: center;
        text-decoration: none;
        font-weight: 600;
    }
}