@use "../../styles/partials/mixins" as *;

.sidebar {
    margin: 1rem;
    display: none;
    

    @include x-small {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    &__row {
        display: flex;
        align-items: center;
        padding-bottom: 1rem;
        font-size: 13px;
        
    }

    &__text {
        display: none; 
        @include tablet {
            display: block;
        }
        padding-left: 0.5rem;
    }

    &__icon {
        color: rgb(139 92 246);
        width: 20px !important;
        height: 20px !important;
       
    }

}