@use "../../../styles/partials/mixins" as *;

.profilecard {
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    background: white;
    border-radius: .5rem; 

    &__content {
            @include flex-column-center;
            padding: 0 3rem;
    }

    &__title {
        text-align: center;
        padding: 1rem;
    }

    &__avatar {
        border-radius: 50%;
        height: auto;
        width: 130px;
        height: 130px;
        min-width: 130px;
        max-width: 200px;
        margin: 2rem 0;
        object-fit: cover;
    }

    &__user {
        font-weight: 600;
        padding-bottom: 2rem;
    }

    &__ctas {
        padding-bottom: 2rem;
        width: 100%;
        display: flex;
        justify-content: space-around;
    }

    &__button {
        width: 100%;
        border: none;
        min-width: 100px;
        max-width: 130px;
        margin: 1rem 0;
        padding: .5rem;
        border-radius: 4px;
        box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
        background-color: #9900F0;
        color: white;
        font-weight:600;
        font-size: 10px;
    }
    &__button:hover {
        background-color: #4700D8;
        cursor: pointer;
    }

    &__button--secondary {
        background-color: white;
        color: #9900F0;
        border: 1px solid  #9900F0;
        margin-left: 1.5rem;
    }

  

    &__button--save {
        background-color: white;
        color: #9900F0;
        border: 1px solid  #9900F0;
        margin-left: 0;
        width: 80%;
        max-width: none;
    }

    &__button--secondary:hover, &__button--save:hover {
        border-color: #4700D8;
        color: #4700D8;
        cursor: pointer;
        background-color: white;
    }

    &__bio {
        min-width: 230px;
        width: 100%;
        word-wrap: break-word;
        margin-bottom: 2rem;
    }

    &__form {
        @include flex-column-center;
        width: 100%;
    }

    &__textarea, &__input {
        width: 80%;
        border-radius: 4px;
        resize: none;
        border: 1px solid #9ca3af;
        padding: 0.5rem 1rem;
        box-sizing: border-box;
    }

    &__input {
        margin-bottom: 1rem;
        font-size: 13px;
    }

    &__textarea::placeholder {
        color: 9ca3af;
    }

    &__bio-header {
        padding-bottom: 1rem;
    }
}