@use "../../styles/partials/mixins" as *;

.post {
    margin: 1rem;
    padding: 1rem;
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: .5rem;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    color: rgb(107 114 128);

    &__content {
        display: flex;
        align-items: center;
    }

    &__avatar {
        height: 40px !important;
        width: 40px !important;
    }

    &__date, &__likes  {
        font-size: 0.75rem; 
        line-height: 1rem; 
        color: rgb(156 163 175);
    }

    &__user {
        color: black;
        font-weight: 600;
    }

    &__body {
        margin-left: 0.5rem;
        width: 100%;
    }

    &__text {
        padding-top: 1rem;
        color: black;
        font-weight: 600;
    }

    &__footer {
        display: flex;
        justify-content: space-around;
        align-items: center;
        color: rgb(156 163 175);
        border-top: 1px solid #f3f4f6;
        padding-top: 1rem;
        margin-top: 1rem;

    }


    &__user-info {
        display: flex;
        justify-content: space-between;
    }

    &__footer-icon {
        height: 1rem !important;
        width: 1rem !important;
        padding-right: 1rem;
    }

    &__footer-content {
        display: flex;
        align-items: center;
        cursor: pointer;
    }

    &__footer-content:hover {
        color: rgb(139 92 246);
    }
    
    &__footer-content--active {
        color: rgb(139 92 246);
    }
}