@use "../../styles/partials/mixins" as *;

.post {
    @include flex-column;
    margin: 1rem;
    background-color: white;
    border-radius: .5rem;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    color: rgb(107 114 128);

    &__content {
        display: flex;
        align-items: center;
        margin: 1rem 1rem 0;
    }

    &__avatar {
       @include avatar;
    }

    &__date, &__likes  {
        font-size: 0.75rem; 
        line-height: 1rem; 
        color: rgb(156 163 175);
    }

    &__likes {
        color: #9900F0;
        font-weight: 600;
    }

    &__user {
        color: black;
        font-weight: 600;
    }

    &__body {
        margin-left: 0.5rem;
        width: 100%;
    }

    &__text {
        padding-top: 1rem;
        color: black;
        margin: 0 1rem 1rem;
    }

    &__footer {
        @include flex-center;
        justify-content: space-around;
        
        color: rgb(156 163 175);
        border-top: 1px solid #f3f4f6;
        padding-top: 1rem;
        margin-bottom: 1rem;

    }


    &__user-info {
        @include flex-space;
    }

    &__footer-icon {
        height: 1rem !important;
        width: 1rem !important;
        padding-right: 1rem;
    }

    &__footer-content {
        @include flex-center;
        cursor: pointer;
    }

    &__footer-content:hover {
        color: #9900F0;
    }
    
    &__footer-content--active {
        color: #9900F0;
    }

    &__link {
        text-decoration: none;
    }
}