@use "../../styles/partials/mixins" as *;

.new-post {
    margin: 1rem;
    padding: 1rem;
    background-color: white;
    @include flex-space-center;
    border-radius: .5rem;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    color: rgb(107 114 128);
    font-weight: 500;
    flex-grow: 1;
    
    
   

    &__avatar {
        @include avatar;
        padding-right: .5rem;
       
    }

    &__form {
        @include flex-center;
        flex-wrap: wrap;
        width: 100%;
       
        
       
    }

    &__input {
        border-radius: 50px;
        height: 36px;
        box-sizing: border-box;
        border: none;
        background-color: rgb(243 244 246);
        flex-grow: 1; 
        padding: 0 20px;
        min-width: 0;
        
    }

    &__input:focus {
        border: none;
    }

    &__button {
        border: none;
        background: none;
        cursor: pointer;
        color: rgb(107 114 128);
        @include flex-center;
    }

    &__button:hover {
        color: #8b5cf6;
    }

    &__photo-input {
        width: 100%;
        @include flex-center;
        padding-top: 1rem;
        border-top: 1px solid rgb(243 244 246);
        margin-top: 1rem;
        color: #45bd62;
        
    }

    &__file {
        display: none;
    }

    &__icon {
        cursor: pointer;
    }

    &__body {
        @include flex-center;
        width: 100%;
        
        overflow: hidden;
    }
}