@use "../../styles/partials/mixins" as *;

.new-post {
    margin: 1rem;
    padding: 1rem;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: .5rem;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    color: rgb(107 114 128);
    font-weight: 500;
    flex-grow: 1;
    
    
   

    &__avatar {
        width: 36px !important;
        height: 36px !important;;
        padding-right: .5rem;
    }

    &__form {
        display: flex;
        flex-wrap: wrap;
        flex: 1 1 0%;
        align-items: center;
        
       
    }

    &__input {
        border-radius: 9999px;
        height: 36px;
        box-sizing: border-box;
        border: none;
        background-color: rgb(243 244 246);
        flex-grow: 1; 
        padding: 0 20px;
        margin: 0 .5rem
    }

    &__input:focus {
        border: none;
    }

    &__button {
        border: none;
        background: none;
        cursor: pointer;
        color: rgb(107 114 128);
        display: flex;
        align-items: center;
    }

    &__photo-input {
        width: 100%;
        display: flex;
        padding-top: 1rem;
        justify-content: center;
        border-top: 1px solid rgb(243 244 246);
        margin-top: 1rem;
    }

    &__file {
        display: none;
    }
}