
.playchart {
    background-color: white;
    padding: 1rem;
    margin: 1rem;
    border-radius: .5rem;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    flex-grow: 1;
    min-width: 0;
 
    position: relative;

    &__header {
        text-align: center;
    }
}